.pixyll-dc body,
button {
  margin: 0;
}

.pixyll-dc button,
.pixyll-dc input,
.pixyll-dc select,
.pixyll-dc textarea {
  font-family: inherit;
  font-size: 100%;
}

.pixyll-dc img {
  max-width: 100%;
}

.pixyll-dc svg {
  max-height: 100%;
}
