/* Basscss Base Forms */

.pixyll-dc input,
.pixyll-dc select,
.pixyll-dc textarea,
.pixyll-dc fieldset {
  font-size: $form-field-font-size;
  margin-top: 0;
  margin-bottom: $space-1;
}

.pixyll-dc input[type=text],
.pixyll-dc input[type=datetime],
.pixyll-dc input[type=datetime-local],
.pixyll-dc input[type=email],
.pixyll-dc input[type=month],
.pixyll-dc input[type=number],
.pixyll-dc input[type=password],
.pixyll-dc input[type=search],
.pixyll-dc input[type=tel],
.pixyll-dc input[type=time],
.pixyll-dc input[type=url],
.pixyll-dc input[type=week] {
  box-sizing: border-box;
  height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
  -webkit-appearance: none;
}

.pixyll-dc select {
  box-sizing: border-box;
  line-height: 1.75;
  padding: $form-field-padding-y $form-field-padding-x;
}

.pixyll-dc select:not([multiple]) {
  height: $form-field-height;
  vertical-align: middle;
}

.pixyll-dc textarea {
  box-sizing: border-box;
  line-height: 1.75;
  padding: $form-field-padding-y $form-field-padding-x;
}

.pixyll-dc .fieldset-reset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.pixyll-dc .fieldset-reset legend {
  padding: 0;
}
