/* Basscss Base Typography */

.pixyll-dc body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

.pixyll-dc h1,
.pixyll-dc h2,
.pixyll-dc h3,
.pixyll-dc h4,
.pixyll-dc h5,
.pixyll-dc h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: 1em;
  margin-bottom: .5em;
}

.pixyll-dc p,
.pixyll-dc dl,
.pixyll-dc ol,
.pixyll-dc ul {
  font-size: $h4;
  margin-top: 0;
  margin-bottom: $space-2;
}

.pixyll-dc ol,
.pixyll-dc ul {
  padding-left: $space-3;
}

.pixyll-dc pre,
.pixyll-dc code,
.pixyll-dc samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

.pixyll-dc pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

.pixyll-dc hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

.pixyll-dc blockquote {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 0;
  padding-left: $space-2;
  padding-right: $space-2;
}

.pixyll-dc blockquote,
.pixyll-dc blockquote p {
  font-size: $h3;
  font-style: italic;
}

.pixyll-dc h1,
.pixyll-dc .h1 {
  font-size: $h1;
}

.pixyll-dc h2,
.pixyll-dc .h2 {
  font-size: $h2;
}

.pixyll-dc h3,
.pixyll-dc .h3 {
  font-size: $h3;
}

.pixyll-dc h4,
.pixyll-dc .h4 {
  font-size: $h4;
}

.pixyll-dc h5,
.pixyll-dc .h5 {
  font-size: $h5;
}

.pixyll-dc h6,
.pixyll-dc .h6 {
  font-size: $h6;
}

.pixyll-dc .list-reset {
  list-style: none;
  padding-left: 0;
}
