/* Basscss Colors */

.pixyll-dc .dark-gray {
  color: $dark-gray;
}

.pixyll-dc .white {
  color: white;
}

.pixyll-dc .blue {
  color: $blue;
}

.pixyll-dc .mid-gray {
  color: $mid-gray;
}

.pixyll-dc .light-gray {
  color: $light-gray;
}

.pixyll-dc .lighter-gray {
  color: $lighter-gray;
}

.pixyll-dc .red {
  color: $red;
}

.pixyll-dc .green {
  color: $green;
}

.pixyll-dc .yellow {
  color: $yellow;
}

.pixyll-dc .orange {
  color: $orange;
}

.pixyll-dc .bg-dark-gray {
  background-color: $dark-gray;
}

.pixyll-dc .bg-white {
  background-color: white;
}

.pixyll-dc .bg-blue {
  background-color: $blue;
}

.pixyll-dc .bg-mid-gray {
  background-color: $mid-gray;
}

.pixyll-dc .bg-light-gray {
  background-color: $light-gray;
}

.pixyll-dc .bg-lighter-gray {
  background-color: $lighter-gray;
}

.pixyll-dc .bg-red {
  background-color: $red;
}

.pixyll-dc .bg-green {
  background-color: $green;
}

.pixyll-dc .bg-yellow {
  background-color: $yellow;
}

.pixyll-dc .bg-orange {
  background-color: $orange;
}

.pixyll-dc .bg-darken-1 {
  background-color: $darken-1;
}

.pixyll-dc .bg-darken-2 {
  background-color: $darken-2;
}

.pixyll-dc .bg-darken-3 {
  background-color: $darken-3;
}

.pixyll-dc .bg-darken-4 {
  background-color: $darken-4;
}
