/* Basscss Color Base */

.pixyll-dc body {
  color: $dark-gray;
  background-color: white;
}

.pixyll-dc a {
  color: $blue;
  text-decoration: none;
}

.pixyll-dc a:hover {
  text-decoration: underline;
}

.pixyll-dc pre,
.pixyll-dc code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

.pixyll-dc hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
