.pixyll-dc .highlight {
  -webkit-text-size-adjust: none;
}

.pixyll-dc .highlight .c,
.pixyll-dc .highlight .cs,
.pixyll-dc .highlight .cm,
.pixyll-dc .highlight .cp,
.pixyll-dc .highlight .c1 {
  color: $hljs-comment;
  font-style: italic;
}

.pixyll-dc .highlight .k,
.pixyll-dc .highlight .kc,
.pixyll-dc .highlight .kd,
.pixyll-dc .highlight .kn,
.pixyll-dc .highlight .kr,
.pixyll-dc .highlight .kt,
.pixyll-dc .highlight .kp {
  color: $hljs-keyword;
}

.pixyll-dc .highlight .na,
.pixyll-dc .highlight .nb,
.pixyll-dc .highlight .nc,
.pixyll-dc .highlight .no,
.pixyll-dc .highlight .nd,
.pixyll-dc .highlight .ni,
.pixyll-dc .highlight .ne,
.pixyll-dc .highlight .nf,
.pixyll-dc .highlight .nl,
.pixyll-dc .highlight .nn,
.pixyll-dc .highlight .nx {
  color: $hljs-name;
}

.pixyll-dc .highlight .mi,
.pixyll-dc .highlight .il {
  color: $hljs-number;
}

.pixyll-dc .highlight .s,
.pixyll-dc .highlight .sb,
.pixyll-dc .highlight .sc,
.pixyll-dc .highlight .sd,
.pixyll-dc .highlight .s2,
.pixyll-dc .highlight .s3,
.pixyll-dc .highlight .sh,
.pixyll-dc .highlight .si,
.pixyll-dc .highlight .sx,
.pixyll-dc .highlight .sr,
.pixyll-dc .highlight .ss,
.pixyll-dc .highlight .s1 {
  color: $hljs-string;
}

.pixyll-dc .hljs-title,
.pixyll-dc .hljs-id,
.pixyll-dc .scss .hljs-preprocessor {
  color: $hljs-title;
  font-weight: bold;
}

.pixyll-dc .highlight .k {
  font-weight: normal;
}

.pixyll-dc .highlight .nc,
.pixyll-dc .highlight .no {
  color: $hljs-type;
}

.pixyll-dc .highlight .o {
  color: $hljs-tag;
  font-weight: normal;
}

.pixyll-dc .highlight .nb {
  color: $hljs-attribute;
}

.pixyll-dc .highlight .sr {
  color: $hljs-regexp;
}

.pixyll-dc .highlight .ss {
  color: $hljs-symbol;
}

.pixyll-dc .hljs-built_in {
  color: $hljs-built-in;
}

.pixyll-dc .hljs-preprocessor,
.pixyll-dc .hljs-pragma,
.pixyll-dc .hljs-pi,
.pixyll-dc .hljs-doctype,
.pixyll-dc .hljs-shebang,
.pixyll-dc .hljs-cdata {
  color: $hljs-preprocessor;
  font-weight: bold;
}

.pixyll-dc .hljs-deletion {
  background: $hljs-deletion;
}

.pixyll-dc .hljs-addition {
  background: $hljs-addition;
}

.pixyll-dc .diff .hljs-change {
  background: $hljs-change;
}

.pixyll-dc .hljs-chunk {
  color: $hljs-chunk;
}
