/* Basscss Utility Headings */

.pixyll-dc .h00 {
  font-size: $h00;
}

.pixyll-dc .h0 {
  font-size: $h0;
}

@media #{$breakpoint-md} {
.pixyll-dc   .h00-responsive {
    font-size: $h00-responsive;
  }

.pixyll-dc   .h0-responsive {
    font-size: $h0-responsive;
  }

.pixyll-dc   .h1-responsive {
    font-size: $h1-responsive;
  }
}

@media #{$breakpoint-xl} {
.pixyll-dc   .h00-responsive {
    font-size: $h00-responsive-max;
  }

.pixyll-dc   .h0-responsive {
    font-size: $h0-responsive-max;
  }

.pixyll-dc   .h1-responsive {
    font-size: $h1-responsive-max;
  }
}
