/* Basscss Utility Typography */

.pixyll-dc .bold {
  font-weight: $bold-font-weight;
}

.pixyll-dc .regular {
  font-weight: normal;
}

.pixyll-dc .italic {
  font-style: italic;
}

.pixyll-dc .caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.pixyll-dc .left-align {
  text-align: left;
}

.pixyll-dc .center {
  text-align: center;
}

.pixyll-dc .right-align {
  text-align: right;
}

.pixyll-dc .justify {
  text-align: justify;
}

.pixyll-dc .nowrap {
  white-space: nowrap;
}
