/* Basscss Utility White Space */

.pixyll-dc .m0 {
  margin: 0;
}

.pixyll-dc .mt0 {
  margin-top: 0;
}

.pixyll-dc .mr0 {
  margin-right: 0;
}

.pixyll-dc .mb0 {
  margin-bottom: 0;
}

.pixyll-dc .ml0 {
  margin-left: 0;
}

.pixyll-dc .m1 {
  margin: $space-1;
}

.pixyll-dc .mt1 {
  margin-top: $space-1;
}

.pixyll-dc .mr1 {
  margin-right: $space-1;
}

.pixyll-dc .mb1 {
  margin-bottom: $space-1;
}

.pixyll-dc .ml1 {
  margin-left: $space-1;
}

.pixyll-dc .m2 {
  margin: $space-2;
}

.pixyll-dc .mt2 {
  margin-top: $space-2;
}

.pixyll-dc .mr2 {
  margin-right: $space-2;
}

.pixyll-dc .mb2 {
  margin-bottom: $space-2;
}

.pixyll-dc .ml2 {
  margin-left: $space-2;
}

.pixyll-dc .m3 {
  margin: $space-3;
}

.pixyll-dc .mt3 {
  margin-top: $space-3;
}

.pixyll-dc .mr3 {
  margin-right: $space-3;
}

.pixyll-dc .mb3 {
  margin-bottom: $space-3;
}

.pixyll-dc .ml3 {
  margin-left: $space-3;
}

.pixyll-dc .m4 {
  margin: $space-4;
}

.pixyll-dc .mt4 {
  margin-top: $space-4;
}

.pixyll-dc .mr4 {
  margin-right: $space-4;
}

.pixyll-dc .mb4 {
  margin-bottom: $space-4;
}

.pixyll-dc .ml4 {
  margin-left: $space-4;
}

.pixyll-dc .mxn1 {
  margin-left: -$space-1;
  margin-right: -$space-1;
}

.pixyll-dc .mxn2 {
  margin-left: -$space-2;
  margin-right: -$space-2;
}

.pixyll-dc .mxn3 {
  margin-left: -$space-3;
  margin-right: -$space-3;
}

.pixyll-dc .mxn4 {
  margin-left: -$space-4;
  margin-right: -$space-4;
}

.pixyll-dc .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pixyll-dc .p1 {
  padding: $space-1;
}

.pixyll-dc .py1 {
  padding-top: $space-1;
  padding-bottom: $space-1;
}

.pixyll-dc .px1 {
  padding-left: $space-1;
  padding-right: $space-1;
}

.pixyll-dc .p2 {
  padding: $space-2;
}

.pixyll-dc .py2 {
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.pixyll-dc .px2 {
  padding-left: $space-2;
  padding-right: $space-2;
}

.pixyll-dc .p3 {
  padding: $space-3;
}

.pixyll-dc .py3 {
  padding-top: $space-3;
  padding-bottom: $space-3;
}

.pixyll-dc .px3 {
  padding-left: $space-3;
  padding-right: $space-3;
}

.pixyll-dc .p4 {
  padding: $space-4;
}

.pixyll-dc .py4 {
  padding-top: $space-4;
  padding-bottom: $space-4;
}

.pixyll-dc .px4 {
  padding-left: $space-4;
  padding-right: $space-4;
}
