<!-- <header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header> -->

<div class="dc" style="background-color:blue;height:142px;">
<header class="header">
    <div class="responsive">
        <div class="logo">
            <a href="../index.html" title="DataCabinet"><img src="../assets/images/logo.png" alt="" /></a>
        </div>
        <div class="header-nav">
            <a href="http://datacabinet.info">DataCabinet</a>
            <a href="http://datacabinet.info#provide">Features</a>
            <a href="http://datacabinet.info/pricing.html">Pricing</a>
        </div>

        <div class="auth">
            <a href="http://datacabinet.systems/#/login" target="_blank">
                <button type="button" class="log-in">LOG IN</button>
            </a>
        </div>
        <div id="touch-menu" class=""><span></span> <span></span> <span></span> <span></span></div>
    </div>
  </div>
</header>

