<!-- <header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header> -->

<div class="dc" style="background-color:black;height:142px;">
<header class="header">
    <div class="responsive">
        <div class="logo">
            <a href="/index.html" title="DataCabinet"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="header-nav">
            <a href="/pricing.html" title="PRICING">PRICING</a>
            <a href="/blog" title="BLOG">BLOG</a>
            <a href="/examples.html" title="EVENTS" >EVENTS</a>
        </div>

        <div class="auth">
            <a href="http://datacabinet.systems/#/login" target="_blank">
                <button type="button" class="log-in">LOG IN</button>
            </a>
        </div>
        <div id="touch-menu" class=""><span></span> <span></span> <span></span> <span></span></div>
    </div>
  </div>
</header>
