.pixyll-dc a {
  color: $link-color;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 13%,
    rgba($link-color,.8) 13%,
    rgba($link-color,.8) 18%,
    rgba(0,0,0,0) 17%
  );
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

.pixyll-dc a:hover,
.pixyll-dc a:focus,
.pixyll-dc a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 13%,
    rgba($link-hover-color,.8) 13%,
    rgba($link-hover-color,.8) 17%,
    rgba(0,0,0,0) 17%
  );
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

// Correct issues with buttons
.pixyll-dc button,
.pixyll-dc .button {
  text-shadow: none;
  background-image: none;
}

.pixyll-dc .button:hover,
.pixyll-dc .button:focus,
.pixyll-dc .button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.pixyll-dc .anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.pixyll-dc .anchorjs-link:hover,
.pixyll-dc .anchorjs-link:focus,
.pixyll-dc .anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
