@media screen and (min-width: $viewport-small) {
.pixyll-dc   html {
    font-size: 16px;
  }

.pixyll-dc   h1,
.pixyll-dc   .h1 {
    font-size: $h1;
  }

.pixyll-dc   .site-header {
    text-align: left;
  }

.pixyll-dc   .site-nav {
    margin-top: 0;
  }

.pixyll-dc   .site-header a {
    font-size: $h4;
  }

.pixyll-dc   .site-header .site-title {
    font-size: $h3;
    float: left;
  }

.pixyll-dc   .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }

.pixyll-dc   blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

.pixyll-dc   .social-icons-left {
    text-align: left;
  }

.pixyll-dc   .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: $viewport-medium) {
.pixyll-dc   {
    font-size: 18px;
  }
}

@media screen and (min-width: $viewport-large) {
.pixyll-dc   {
    font-size: 20px;
  }
}

@media screen and (min-width: $viewport-large + 14) {
.pixyll-dc   em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
