.pixyll-dc html {
  font-size: $base-font-size;
}

.pixyll-dc abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

.pixyll-dc p {
  color: #333;
  line-height: 1.5;
}

.pixyll-dc small,
.pixyll-dc .small {
  font-size: 0.707rem;
}

.pixyll-dc sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
